################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/msSigSlot/.vs
/msSigSlot/Debug
/msSigSlot/__vm
/msSigSlot/msSigSlot.vcxproj.user
/msSigSlot/msSigSlot.vcxproj.filters
/msSigSlot/msSigSlot.vcxproj
/msSigSlot/msSigSlot.user
/msSigSlot/msSigSlot.sln
/msSigSlot/msSigSlot.filters
/.vs
/msSigSlot/Release
